  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
/* 
1. vị tri
2. Kích thước
3. màu sắc
4. Kiểu dáng ( kiểu chữ, hình dáng...)*/
html {
    scroll-behavior: smooth !important;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    overflow: hidden;
}
.clear {
    clear: both;
}


/* Css begin NaV */
#header{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    z-index: 1;
    /* overflow: hidden; */
}

ul {
    display: inline-block;
}
 #nav .nav-content, .nav-menu{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 48px;
    padding: 0 24px;
    
}

#nav .subnav {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    line-height: 38px !important;
    box-shadow: 0 0 10px rgba(97, 96, 96, 0.5);
}
#nav .nav-menu:hover .subnav {
     display: inline;
}
.list-items{
    padding: 5px;
}
#nav .nav-content:hover, .list-items:hover{
    color: #000 !important;
    background-color: rgb(215, 215, 215);
}
#nav .nav-size-down{
    font-size: 12px;
} 
.search-btn, .mobie-menu{
    float: right  !important;
    padding: 0 24px;
    cursor: pointer;
}  

#header .search-btn:hover{
    color:rgb(255, 252, 252);
    background-color: #f44336!important;
}
#header .search-icon, .mobie-menu{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    line-height:48px;
}
/* menu icon */
#header .mobie-menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
/* Silder style */
#slider  {
    position: relative;
    margin-top: 48px;
    padding-top: 50%;
    /* background: url('/assets/img/slider/la.jpg') top center/ cover no-repeat; */
}
#slider .text-content {
    bottom: 0;
    color :rgb(223, 223, 223);
    text-align: center;
    flex: center;
    padding: 32px 0;

}
#slider .text-slide{
    margin : 10px 0;
    font-size: 24px;
}
#slider .text-description{
    margin: 15px 0;
}

#content{
    max-width: 2000px;
    margin: 0 auto;
    
}

.content-section{
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 64px 16px;
    max-width: 100%;
}
.section-heading{
    margin:10px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
}
.w3-opacity{
    margin:15px;
    font-style: italic;
    opacity: 0.6 !important;
    text-align: center;
    position: relative;
}
.content-info-first{
    text-align:justify;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.4;
}
.member-list{
    margin-top: 48px;
    /* overflow: hidden; */
}
.member-item{
    float: left;
    /* background-size: 120px; */
    width: 33.33333333%; 
    text-align: center;
}
.member-name{
    font-size: 15px;
}
.member-img{
    margin-top:15px;
    width:150px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    Background: rgb(10, 10, 10);
}
.tickets-list{
    display:block !important; 
    list-style-type: none;
    border: 1px solid #ccc!important;
    background-color: #fff;
    padding: 0px;
    line-height: 1.4;
}
.w3-month{
    padding: 8px 16px;
    font-size: 15px;
    border-bottom: 0.5px solid rgb(211, 123, 123);
    color:rgb(117, 117, 117);
    max-width:  100%;
} 
.tickets-list > li{
    display: list-item;

}

 .Sold-out{
    color: #fff!important;
    background-color: #f44336!important;
    padding: 0 8px;
    margin: 0 0 0 16px;
    
}
.leftover{
    float: right;
    color: #fff!important;
    background-color: #000;
    margin-right: 16px;
    padding: 0 7px;
    border-radius: 50%;

}

/* Place */

.places-list{
    margin: 32px -8px 0;
    font-size: 15px;
}
.places-item{
    float: left;
    width: 33.33333333333%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;

}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    display: block;
    padding: 16px;

}
.place-heading{
    /* margin-top: 15px; */
    font-size: 15px;
}
.place-time{
    margin: 15px 0;
    opacity: 0.6;
}
.place-content{
    margin: 15px 0;
}
.place-buy-ticket{
    padding: 8px 16px;
    Background-color: #000 !important;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.place-buy-ticket:hover{
    color: #000 !important;
    background-color: #ccc!important;
}
/* Contact */
.contact-about{
    padding: 32px 0 !important;
}
.contact-list{ 
    width: 49.9999% !important;
        line-height: 1.6;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 16px!important;
}

.contact-icon {
    margin-right: 12px;
}


/*  */
.w3-from{
    width: 50%;
    float: right;
}

/* .input-contact {  
    padding: 0 8px;
    margin: 0 -16px 8px -16px;
}*/
.input-about{
    width: 100%; 
    display: inline-block !important;
}

 
.w3-input {
    border: 2px solid rgb(160, 158, 158)!important;
    padding: 8px;
    display: block;
    width: 100%;
}
.input-name_email{
    
}
.input-name{
    float: left;
}
.input-email{
    float: right;
}
.w3-flex-input{
    display: inline-block;
    margin:  5px 0;
    width: 49%;
    justify-content: space-between;
}
.input-message{
    margin: 5px 0;
    display: inline-block;
    width: 100% !important;
}


/* the send */
.w3-black {
    color: #fff!important;
    background-color: #000!important;
    
}
.w3-button:hover {
    color:rgb(0, 0, 0) !important;
    background-color: rgb(205, 205, 205)!important;
    border-color: rgb(205, 205, 205)!important;
}
.w3-right {
    float: right!important;
}
.w3-section, .w3-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-btn, .w3-button {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
/* map */
.set-map{
    text-align: center !important;
}
.set-iframe{
    max-width:1000px;
}
/* Footer */

.footer{
    padding: 64px 16px;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
    /* color: rgb(243, 82, 82)!important; */
    background-color: #8ab6f7!important;
    text-align: center;
}
.footer-icon {
    padding-right: 1px;
    font-size: 30px !important;
    color:rgb(255, 255, 255) !important;

}

.footer-icon:hover{
    opacity: 0.6;
}
.footer-medium{
    margin: 15px 0; 
    color:rgb(90, 90, 90) !important;
    font-size: 15px !important;
}
/* Model buy tickets */
.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal .open{
    display: none !important;
}
.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
}
header.modal-header {
    justify-content: center;
    background: #009688!important;
    height: 130px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30px;
}
.ti-bag{
    margin-right: 16px !important;  
}
.modal-contain-header{
    letter-spacing: 5px;
}

.modal-close {
    position: absolute;
    padding: 16px;
    color: #fff;

}
.modal-close:hover,
 #buy-ticket:hover,
 .close:hover{
    color: #000 !important;
    background-color: #ccc !important;
}
.modal-body {
    font-size: 15px;
    padding: 0 16px;
}
.modal-label {
    display: block;
    font-weight: 500;
    margin: 15px 0;
}
.modal-input{
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
}
#buy-ticket{
    padding: 16px 0;
    background: #009688!important;
    margin: 16px 0;
    width: 100%;
    border: 0;
    color: #fff !important;
    font-size: 15px;
}

.close{
    padding: 8px 16px;
    margin: 16px 0;
    width: 86px;
    height: 36px;
    font-size: 15px;
    background-color: #f44336;
    color: #fff !important;
    font-weight: 600 !important;
    display: inline-block;
}
.modal-footer{
    float: right;
    margin: 16px;
    display: flex;
    /* display: block; */
}
.modal-footer a{
    color: #2196F3!important;
}


